@use 'assets/variables.scss' as *;

body {
  margin: 0;
  font-family: 'Segoe UI';
}

.header {
  background-color:$bg;
  padding: 10px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: 10px;
}

.screen-height {
  height: $screenSize;
  min-height: 500px;
}

.button {
  &__primary {
    background-color: $primary;
    color: $bg;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
}

button {
  cursor: pointer;
  transition: $animationTransition;
  &:hover {
    opacity: 0.7;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.8);
  }
}

.input-material {

  $inputBorder: rgba(white, 0.3);

  &__area {
    &--full {
      width: 100%;
    }

    &--half {
      width: 50%;
    }
  }

  &__field {
    padding: 5px;
    width: calc(100% - 10px);
    resize: vertical;
    border: none;
    color: rgba(white, 0.8);
    background-color: black;

    &:focus {
      outline: none;
    }
  }

  &__group {
    border: 2px solid $inputBorder;
    border-radius: 5px;
    overflow: hidden;
  }

  &__unit {
    background-color: $inputBorder;
    font-size: 12px;
    line-height: 15px;
    padding: 4px 6px;
    color: rgba($text, 0.6);
  }

  &__label {
    color: $text;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 13px;
    letter-spacing: 1px;
  }

  &__color-sample {
    width: 30px;
    height: auto;
    border-right: 1px solid $inputBorder;
  }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

::-webkit-scrollbar-track {
  background: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($primary, 0.4);
}

.size-not-allowed {
  display: none;
  background-color: $bg;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  img {
    filter: invert(1);
  }

  @media screen and (max-height: 500px), screen and (max-width: 800px) {
    display: flex;
  }
}